/*
 * Dieses Stylesheet enthält nur allgemeine Anweisungen, die sich auf die
 * gesamte App auswirken. Hier dürfen keine Änderungen vorgenommen werden,
 * die sich nur auf bestimmte Bereiche der Anwendung auswirken sollen.
 *
 * Damit @import funktioniert, muss die Anweisung vor allen anderen
 * CSS-Anweisungen stehen. Dieses Stylesheet muss daher auch vor allen
 * anderen importiert werden.
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0%;
  padding: 0%;
  font-family: arial;
  background: #DAFFEF;
}

header {
  background: #DAFFEF;
  font-family: Helvetic;
}

header, h1 {
  padding-left: 11em;
}

.navbar {
  position: absolute;
  left: 0px;
  width: 260px;
  height: 100%;
  background-color: black;
  text-align: center;
  transition: 0.800s ease;
}

.navbar > .side-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: flex;
}

.site-name {
  color: whitesmoke;
  text-decoration: none;

}

.nav-item {
  text-decoration: none;
   color: whitesmoke;
   font-size: 1.1em;
   padding: 1em;
   felx: 1;
}

.nav-item:hover {
  background-color: whitesmoke;
  color: black;
}

.toggle-collapse {
  float: right;
  content: "";
  outline: inherit;
  border: 0px;
  background: transparent;
}

/* Toggle Icon */
.toggle-icon,
.toggle-icon::before,
.toggle-icon::after {
   content: "";
   width: 30px;
   height: 3px;
   position: fixed;
   background-color: black;
   border-radius:  2em;
   border: 1px solid black;
   cursor: pointer;
   transition: 0.800s ease;
   margin-top: 0.8em;
}

.toggle-icon::before {
  position: absolute;
  left: -1px;
  margin-top: -0.8em;
}

.toggle-icon::after {
  position: absolute;
  right: -1px;
  margin-top: 0.6em;
  width: 20px;
}

.toggle-icon {
  width: 15px;
}

.show .toggle-icon::after {
  width: 30px;
}

.show .toggle-icon {
  width:  30px;
}
