/*
 * Dieses Stylesheet enthält nur allgemeine Anweisungen, die sich auf die
 * gesamte App auswirken. Hier dürfen keine Änderungen vorgenommen werden,
 * die sich nur auf bestimmte Bereiche der Anwendung auswirken sollen.
 *
 * Damit @import funktioniert, muss die Anweisung vor allen anderen
 * CSS-Anweisungen stehen. Dieses Stylesheet muss daher auch vor allen
 * anderen importiert werden.
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 12pt;
    background: url(Logo.jpeg);
    margin: 0;
    padding: 0;
    background-color: rgb(212, 227, 237);
}

.loginbox {
  width: 320px;
  heigth: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;

}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 110px;;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
   border: none;
   border-bottom: 1px solid #fff;
   background: transparent;
   outline: none;
   height: 40px;
   color: #fff;
   font-size: 16px;
}

.loginbox input[type="submit"]
{
  border: none;
  outline: none;
  heigth: 40px;
  background: green;
  color: black;
  font-size: 18px;
  border-radius: 20px;
  text-align: center;
}

.loginbox input[type="submit"]:hover
{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover
{
  color: #ffc107;

}
