/*
 * Dieses Stylesheet enthält nur allgemeine Anweisungen, die sich auf die
 * gesamte App auswirken. Hier dürfen keine Änderungen vorgenommen werden,
 * die sich nur auf bestimmte Bereiche der Anwendung auswirken sollen.
 *
 * Damit @import funktioniert, muss die Anweisung vor allen anderen
 * CSS-Anweisungen stehen. Dieses Stylesheet muss daher auch vor allen
 * anderen importiert werden.
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.sidenav {
  height: 100%;
  width: 20%;
  background-color: #302E2E;
  position: absolute;
}

.sidenav li {
  list-style-type: none;
  padding: 2em;
}

.sidenav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#hidebtn {
  float: right;
}

#showbtn {
  text-decoration: none;
  color: black;
  font-size: 30px;
}
